# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env

# =========================
# Django
# =========================
db.sqlite3
*.log
staticfiles/

# =========================
# Build / Packaging (VERY IMPORTANT)
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.swp
*.bak