<!DOCTYPE html>
<html>
<head>

<title>Register</title>

<style>

body{
font-family:Arial;
background:#0b1220;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.register-box{
background:#111827;
padding:40px;
border-radius:10px;
width:320px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:none;
}

button{
width:100%;
padding:10px;
background:#2563eb;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

</style>

</head>

<body>

<div class="register-box">

<h2>Create Account</h2>

<form method="POST">

{% csrf_token %}

<input type="text" name="username" placeholder="Username" required>

<input type="email" name="email" placeholder="Email" required>

<input type="text" name="phone" placeholder="Phone Number" required>

<input type="password" name="password1" placeholder="Password" required>

<input type="password" name="password2" placeholder="Confirm Password" required>

<button type="submit">Register</button>

</form>

<p>Already have an account?</p>

<a href="/accounts/login/" style="color:#38bdf8;">Login</a>

</div>

</body>
</html>